body{
  margin: 0;
  height: 200px;
  text-align: center;
font-family: 'Outfit', sans-serif;
  font-size: 17px;
}
.para{
  font-family: 'Secular One', sans-serif;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;

  color: #3498DB;
}
h2{
  font-size: 2.5rem;
  color: #3498DB
}
h3{
  font-family: 'Signika Negative', sans-serif;
  color: #3498DB
}
hr{
  border: dotted #1B2430;
  border-bottom: none;
  width: 5%;
  margin: 30px auto 0 auto;
}
.images-1{
  width: 15%;
  height: auto;
}

.top{
    background-color: #DFF6FF;
    position: relative;
    padding-top: 100px;
margin: 0;
}

.middle{
  background-color: #F6E3C5;
  position: relative;
  bottom: 33px;
}
.Design{
  width: 50%;
  float: left;
  margin-right: 20px;
}
.singing{
  width: 50%;
  float: right;
  margin-left: 20px;
}

.Dancing{
  width: 50%;
  float: left;
  margin-right: 20px;
}
.Skills{
  width: 50%;
  margin:auto auto 50px auto;
  text-align: left;
  line-height: 1.5;
}
.skill-2{
  width: 40%;
  margin: auto auto 50px auto;
  text-align: left;
  line-height: 1.5;
}
.skill-3{
  width: 45%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}
.contacts{
  background-color: #F6E3C5;
  position: relative;
  bottom: 66px;
  padding-bottom: 20px;
  padding-top: 5px;
  margin-top: 33px;
}
.bottom{
  background-color: #4CACBC;
  padding: 20px 0 10px 0;
  position: relative;
  bottom: 67px;
}
.btn{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
a{
  text-decoration: none;
  margin-left: 20px;
}
a:hover{
  color: #DFF6FF;
}
span{
  text-decoration: underline;
}
.copy{
  color: #F6FBF4;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
}
.above-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
